python-more_data_structures/__pycache__/0-square_matrix_simple.cpython-312.pyc
python-more_data_structures/__pycache__/1-search_replace.cpython-312.pyc
python-more_data_structures/__pycache__/2-uniq_add.cpython-312.pyc
python-more_data_structures/__pycache__/3-common_elements.cpython-312.pyc
python-more_data_structures/__pycache__/4-only_diff_elements.cpython-312.pyc
python-more_data_structures/__pycache__/5-number_keys.cpython-312.pyc
python-more_data_structures/__pycache__/6-print_sorted_dictionary.cpython-312.pyc
python-more_data_structures/__pycache__/7-update_dictionary.cpython-312.pyc
python-more_data_structures/__pycache__/8-simple_delete.cpython-312.pyc
python-more_data_structures/__pycache__/9-multiply_by_2.cpython-312.pyc
python-more_data_structures/__pycache__/10-best_score.cpython-312.pyc
python-more_data_structures/__pycache__/11-multiply_list_map.cpython-312.pyc
python-more_data_structures/__pycache__/12-roman_to_int.cpython-312.pyc
python-more_data_structures/main.py
python-more_data_structures/main.py
python-classes/test.py
python-classes/__pycache__/2-square.cpython-312.pyc
python-classes/__pycache__/3-square.cpython-312.pyc
python-classes/__pycache__/4-square.cpython-312.pyc
python-more_classes/main.py
python-more_classes/__pycache__/0-rectangle.cpython-312.pyc
python-more_classes/__pycache__/1-rectangle.cpython-312.pyc
python-more_classes/__pycache__/2-rectangle.cpython-312.pyc
python-classes/__pycache__/4-square.cpython-310.pyc
python-classes/__pycache__/5-square.cpython-310.pyc
python-classes/__pycache__/6-square.cpython-310.pyc
python-exceptions/main.py
python-exceptions/__pycache__/0-safe_print_list.cpython-310.pyc
python-exceptions/__pycache__/1-safe_print_integer.cpython-310.pyc
python-exceptions/__pycache__/2-safe_print_list_integers.cpython-310.pyc
python-exceptions/__pycache__/3-safe_print_division.cpython-310.pyc
python-exceptions/__pycache__/4-list_division.cpython-310.pyc
python-exceptions/__pycache__/5-raise_exception.cpython-310.pyc
python-exceptions/__pycache__/6-raise_exception_msg.cpython-310.pyc
python-more_classes/test.py
python-more_classes/__pycache__/3-rectangle.cpython-310.pyc
python-more_classes/__pycache__/4-rectangle.cpython-310.pyc
python-more_classes/__pycache__/5-rectangle.cpython-310.pyc
python-more_classes/__pycache__/6-rectangle.cpython-310.pyc
python-more_classes/__pycache__/7-rectangle.cpython-310.pyc
python-more_classes/__pycache__/8-rectangle.cpython-310.pyc
python-more_classes/__pycache__/9-rectangle.cpython-310.pyc
python-test_driven_development/__pycache__/0-add_integer.cpython-312.pyc
python-test_driven_development/__pycache__/2-matrix_divided.cpython-312.pyc
python-test_driven_development/__pycache__/3-say_my_name.cpython-312.pyc
python-test_driven_development/__pycache__/4-print_square.cpython-312.pyc
python-test_driven_development/test.py
python-test_driven_development/__pycache__/5-text_indentation.cpython-310.pyc
python-test_driven_development/__pycache__/5-text_indentation.cpython-312.pyc
python-test_driven_development/__pycache__/6-max_integer.cpython-312.pyc
python-test_driven_development/tests/__pycache__/6-max_integer_test.cpython-312.pyc
python-inheritance/test.py
python-inheritance/__pycache__/1-my_list.cpython-310.pyc
python-inheritance/__pycache__/1-my_list.cpython-312.pyc
python-inheritance/__pycache__/4-inherits_from.cpython-310.pyc
python-inheritance/__pycache__/5-base_geometry.cpython-310.pyc
python-inheritance/__pycache__/6-base_geometry.cpython-310.pyc
python-inheritance/__pycache__/7-base_geometry.cpython-310.pyc
python-inheritance/__pycache__/7-base_geometry.cpython-312.pyc
python-inheritance/__pycache__/8-rectangle.cpython-310.pyc
python-inheritance/__pycache__/9-rectangle.cpython-310.pyc
python-inheritance/__pycache__/10-square.cpython-310.pyc
python-inheritance/__pycache__/11-square.cpython-310.pyc
python-input_output/test.py
python-input_output/__pycache__/6-load_from_json_file.cpython-310.pyc
python-input_output/add_item.json
python-input_output/student.json
python-input_output/__pycache__/0-read_file.cpython-310.pyc
python-input_output/__pycache__/0-read_file.cpython-312.pyc
python-input_output/__pycache__/5-save_to_json_file.cpython-310.pyc
python-input_output/__pycache__/5-save_to_json_file.cpython-312.pyc
python-input_output/__pycache__/6-load_from_json_file.cpython-312.pyc
python-input_output/__pycache__/8-class_to_json.cpython-310.pyc
python-input_output/__pycache__/8-my_class.cpython-310.pyc
python-input_output/__pycache__/9-student.cpython-310.pyc
python-input_output/__pycache__/10-student.cpython-310.pyc
python-input_output/__pycache__/11-student.cpython-310.pyc
python-input_output/__pycache__/11-student.cpython-312.pyc
python-almost_a_circle/test.py
python-almost_a_circle/models/__pycache__/__init__.cpython-310.pyc
python-almost_a_circle/models/__pycache__/base.cpython-310.pyc
python-almost_a_circle/models/__pycache__/rectangle.cpython-310.pyc
python-almost_a_circle/models/__pycache__/square.cpython-310.pyc
python-input_output/__pycache__/12-pascal_triangle.cpython-310.pyc
python-input_output/__pycache__/12-pascal_triangle.cpython-312.pyc
python-almost_a_circle/__pycache__/test.cpython-312.pyc
python-almost_a_circle/models/__pycache__/__init__.cpython-312.pyc
python-almost_a_circle/models/__pycache__/base.cpython-312.pyc
python-almost_a_circle/models/__pycache__/rectangle.cpython-312.pyc
python-almost_a_circle/tests/test_models/__pycache__/__init__.cpython-312.pyc
python-almost_a_circle/tests/test_models/__pycache__/test_base.cpython-312.pyc
python-almost_a_circle/models/__pycache__/square.cpython-312.pyc
python-almost_a_circle/tests/test_models/__pycache__/test_rectangle.cpython-312.pyc
python-almost_a_circle/tests/test_models/__pycache__/test_square.cpython-312.pyc
